@{
    ViewBag.Title = "考核历史记录";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string divContent = controllerName + "_divContent";
    string reportView = controllerName + "_reportView";

}


<div class="easyui-layout" fit="true" border="false">
    <div>
        <div style="padding-bottom:15px; height:auto; background: #F4F4F4;">
            <form id="searchForm">
                <table>
                    <tr>
                        <th>部门：</th>
                        <td>
                            <input class="parm_control" type="text" id="departmentId" name="departmentId" />
                        </td>
                        <td>
                            <a data-options="iconCls:'icon-search'" style="margin-left:15px;padding-left:5px;padding-right:5px" class="easyui-linkbutton" href="javascript:filter();">查询</a>
                        </td>

                    </tr>
                </table>
            </form>
        </div>
        <div class="reportView" style="border:1px solid;height:400px; width:100%" id="@(reportView)"></div>
    </div>
</div>

<script src="~/Scripts/echarts-all.js"></script>
<script src="~/Scripts/echarts-common.js"></script>
<script>
	$(function () {
	    initPage();
	    //初始加载，表格宽度自适应
	    $(document).ready(function () {
	        $('@(reportView)').resize();
	    });
	    //浏览器窗口大小变化后，表格宽度自适应
	    $(window).resize(function () {
	        $('@(reportView)').resize();
	    });

    })


	function initPage() {
	    $('#departmentId').combobox({
	        width: '100%',
	        //editable: false,
	        url: '/Department/GetAllEntities',
	        mode: 'remote',
	        valueField: 'id',
	        textField: 'name',
	    });



	    var seriesObj = [
        {
            name: '最高气温',
            data: [11, 11, 15, 13, 12, 13, 10],
        },
        {
            name: '最低气温',
            data: [1, -2, 2, 5, 3, 2, 0],
        },
	    ];
	    var optionData = {
	        category: ['周一', '周二', '周三', '周四', '周五', '周六', '周日'],
	        legend: ['最高气温', '最低气温'],
	        series: seriesObj,
	    };
	    var viewEntity = {
	        viewObj: document.getElementById('@(reportView)'),
	        title: '气温',
	        yAxisDesc: '°C',
	        option: optionData,

	    };
	    showReport(viewEntity);
	}

    //function showReport(viewEntity)
	//{
    //    // document.getElementById()
    //    console.log(viewEntity)
    //    var myChart = echarts.init(viewEntity.viewObj);

	//    var option= {
	//        title: {
	//            text: viewEntity.title,
	//        },
	//        tooltip: {
	//            trigger: 'axis'
	//        },
	//        legend: {
	//            data: viewEntity.option.legend
	//        },
	//        toolbox: {
	//            show: true,
	//            feature: {
	//                mark: { show: false },
	//                dataView: { show: false, readOnly: false },
	//                magicType: { show: true, type: ['line', 'bar'] },
	//                restore: { show: true },
	//                saveAsImage: { show: true }
	//            }
	//        },
	//        calculable: true,
	//        xAxis: [
    //            {
    //                type: 'category',
    //                boundaryGap: false,
    //                data: viewEntity.option.category
    //            }
	//        ],
	//        yAxis: [
    //            {
    //                type: 'value',
    //                axisLabel: {
    //                    formatter: '{value} ' + viewEntity.yAxisDesc
    //                }
    //            }
	//        ],
	//        series: [
    //            {
    //                name: viewEntity.option.series[0].name,
    //                type: 'line',
    //                data: viewEntity.option.series[0].data,
    //                markPoint: {
    //                    data: [
    //                        { type: 'max', name: '最大值' },
    //                        { type: 'min', name: '最小值' }
    //                    ]
    //                },
    //                markLine: {
    //                    data: [
    //                        { type: 'average', name: '平均值' }
    //                    ]
    //                }
    //            },

	//        ]
	//    };

	//    // 为echarts对象加载数据
	//    myChart.setOption(option);
	//}

</script>


