@{
    ViewBag.Title = ViewBag.companyName + " 信息管理系统";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string divContent = controllerName + "_divContent";

}

<style>
    
body {
    font-family:verdana,helvetica,arial,sans-serif;
    padding:20px;
    font-size:12px;
    margin:0;
}
</style>

<body class="easyui-layout" id="layout">
    <div data-options="region:'north',border:false" 
         style="text-align:center; font-size:30px; height:60px; background:#B3DFDA; padding:10px;">
        @(ViewBag.companyName)
    </div>
    <div data-options="region:'west',split:true,title:'菜单'" style="width:250px;padding:10px;">
        <div class="easyui-accordion" data-options="multiple:true, fit:false,border:false">
            <div title="薪酬管理" data-options="selected:true" style="padding:10px;">
                <a href="#" onclick="redirectUrl(this, '/Assessment/Index')" class="easyui-linkbutton" style="width:85%" data-options="iconCls:'icon-large-picture',size:'large',iconAlign:'top'">考核录入</a>
                <a href="#" onclick="redirectUrl(this, '/Assessment/HistoryIndex')" class="easyui-linkbutton" style="width:85%" data-options="iconCls:'icon-large-shapes',size:'large',iconAlign:'top'">考核记录</a>
                <a href="#" onclick="redirectUrl(this, '/SalaryRecord/Index')" class="easyui-linkbutton" style="width:85%" data-options="iconCls:'icon-large-smartart',size:'large',iconAlign:'top'">工资单录入</a>
                <a href="#" onclick="redirectUrl(this, '/SalaryRecord/HistoryIndex')" class="easyui-linkbutton" style="width:85%" data-options="iconCls:'icon-large-chart',size:'large',iconAlign:'top'">工资单记录</a>
            </div>
            <div title="数据分析" style="padding:10px">
                <a href="#" onclick="redirectUrl(this, '/Analyse/EmployeeAge')" class="easyui-linkbutton" style="width:85%" data-options="iconCls:'icon-large-smartart',size:'large',iconAlign:'top'">职工年龄分析</a>
                <a href="#" onclick="redirectUrl(this, '/Analyse/EmployeeGender')" class="easyui-linkbutton" style="width:85%" data-options="iconCls:'icon-large-smartart',size:'large',iconAlign:'top'">职工性别分析</a>
                <a href="#" onclick="redirectUrl(this, '/Employee/Index')" class="easyui-linkbutton" style="width:85%" data-options="iconCls:'icon-large-smartart',size:'large',iconAlign:'top'">职工司龄分析</a>
                <a href="#" onclick="redirectUrl(this, '/Employee/Index')" class="easyui-linkbutton" style="width:85%" data-options="iconCls:'icon-large-smartart',size:'large',iconAlign:'top'">职工地址分析</a>
                <a href="#" onclick="redirectUrl(this, '/Employee/Index')" class="easyui-linkbutton" style="width:85%" data-options="iconCls:'icon-large-smartart',size:'large',iconAlign:'top'">职工薪酬分析</a>

            </div>
            <div title="员工管理" style="padding:10px">
                <a href="#" onclick="redirectUrl(this, '/Employee/Index')" class="easyui-linkbutton" style="width:85%" data-options="iconCls:'icon-large-smartart',size:'large',iconAlign:'top'">员工列表</a>
                <a href="#" onclick="redirectUrl(this, '/Employee/Entry')" class="easyui-linkbutton" style="width:85%" data-options="iconCls:'icon-large-smartart',size:'large',iconAlign:'top'">入职</a>
                <a href="#" onclick="redirectUrl(this, '/Employee/Formal')" class="easyui-linkbutton" style="width:85%" data-options="iconCls:'icon-large-smartart',size:'large',iconAlign:'top'">转正</a>
                <a href="#" onclick="redirectUrl(this, '/Employee/Leave')" class="easyui-linkbutton" style="width:85%" data-options="iconCls:'icon-large-smartart',size:'large',iconAlign:'top'">离职</a>
            </div>
            <div title="组织架构" style="padding:10px">
                <a href="#" onclick="redirectUrl(this, '/Department/Index')" class="easyui-linkbutton" style="width:85%" data-options="iconCls:'icon-large-shapes',size:'large',iconAlign:'top'">部门管理</a>
                <a href="#" onclick="redirectUrl(this, '/Department/Index')" class="easyui-linkbutton" style="width:85%" data-options="iconCls:'icon-large-shapes',size:'large',iconAlign:'top'">编制管理</a>
            </div>
            <div title="基础字典" style="padding:10px">
                <a href="#" onclick="redirectUrl(this, '/Post/Index')" class="easyui-linkbutton" style="width:85%" data-options="iconCls:'icon-large-picture',size:'large',iconAlign:'top'">岗位管理</a>
                <a href="#" onclick="redirectUrl(this, '/Level/Index')" class="easyui-linkbutton" style="width:85%" data-options="iconCls:'icon-large-picture',size:'large',iconAlign:'top'">层级管理</a>
                <a href="#" onclick="redirectUrl(this, '/Performance/Index')" class="easyui-linkbutton" style="width:85%" data-options="iconCls:'icon-large-shapes',size:'large',iconAlign:'top'">绩效管理</a>
                <a href="#" onclick="redirectUrl(this, '/Benefit/Index')" class="easyui-linkbutton" style="width:85%" data-options="iconCls:'icon-large-smartart',size:'large',iconAlign:'top'">效益管理</a>
            </div>
            <div title="系统设置" style="padding:10px">
                <a href="#" onclick="redirectUrl(this, '/Role/Index')" class="easyui-linkbutton" style="width:85%" data-options="iconCls:'icon-large-picture',size:'large',iconAlign:'top'">角色管理</a>
                <a href="#" onclick="redirectUrl(this, '/User/Index')" class="easyui-linkbutton" style="width:85%" data-options="iconCls:'icon-large-picture',size:'large',iconAlign:'top'">用户管理</a>
                <a href="#" onclick="redirectUrl(this, '/Log/Index')" class="easyui-linkbutton" style="width:85%" data-options="iconCls:'icon-large-shapes',size:'large',iconAlign:'top'">权限管理</a>
                <a href="#" onclick="redirectUrl(this, '/Log/Index')" class="easyui-linkbutton" style="width:85%" data-options="iconCls:'icon-large-smartart',size:'large',iconAlign:'top'">系统日志</a>
            </div>
            <div title="后台设置" style="padding:10px">
                <a href="#" onclick="redirectUrl(this, '/CompanyRegister/Index')" class="easyui-linkbutton" style="width:85%" data-options="iconCls:'icon-large-smartart',size:'large',iconAlign:'top'">公司注册管理</a>
                <a href="#" onclick="redirectUrl(this, '/Module/Index')" class="easyui-linkbutton" style="width:85%" data-options="iconCls:'icon-large-smartart',size:'large',iconAlign:'top'">模块管理</a>
                <a href="#" onclick="redirectUrl(this, '/FunctionRight/Index')" class="easyui-linkbutton" style="width:85%" data-options="iconCls:'icon-large-smartart',size:'large',iconAlign:'top'">功能权限管理</a>
            </div>
        </div>

    </div>
    @*<div data-options="region:'east',split:true,collapsed:true,title:'East'" style="width:100px;padding:10px;">
        east region
    </div>*@
    <div data-options="region:'south',border:false" 
         style="text-align:center; font-size:20px; height:50px; background:#A9FACD; padding:10px;">
         穆图科技 提供技术支持
    </div>
    <div id="center" data-options="region:'center',title:'默认',">
    </div>

</body>

<script>

    function redirectUrl(link, url) {

        var title = $(link).linkbutton('options').text;

        var center = $('#layout').layout('panel', 'center');

        center.panel('setTitle', title);
        center.panel('refresh', url);
    }


</script>