@{
    ViewBag.Title = "考核历史记录";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string divContent = controllerName + "_divContent";
    string tabEntityList = controllerName + "_tabEntityList";

}


<div class="easyui-layout" fit="true" border="false">
    <div>
        @*<div data-options="region:'center',split:false,title:'@(tableTitle)'">*@
        <div style="padding-bottom:15px; height:auto; background: #F4F4F4;">
            <form id="searchForm">
                <table>
                    <tr>
                        <th>部门：</th>
                        <td>
                            <input class="parm_control" type="text" id="departmentId" name="departmentId" />
                        </td>
                        <th>员工姓名：</th>
                        <td>
                            <input class="parm_control" type="text" id="employeeName" name="employeeName" />
                        </td>
                        <td>
                            <a data-options="iconCls:'icon-search'" style="margin-left:15px;padding-left:5px;padding-right:5px" class="easyui-linkbutton" href="javascript:filter();">查询</a>
                        </td>

                    </tr>
                    <tr>
                        <th>考核月：</th>
                        <!--由于datebox框架上面的数据必须是时间格式的，所以我们用editable="false"来禁止用户手动输入，以免报错-->
                        <td>
                            <input class="parm_control" name="month" id="month" />
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <table class="tab_center" id="@(tabEntityList)"></table>
    </div>
</div>

<div id="menu" class="easyui-menu" style="width: 50px; display: none;">
    <!--放置一个隐藏的菜单Div-->
    <div data-options="iconCls:'icon-save'" onclick="onSaveSingle()">保存</div>
    <div data-options="iconCls:'icon-cancel'" onclick="clearRow()">清空</div>
</div>

<script>
    $(function () {
        initDatagrid();
    })


    function initDatagrid() {
        $('#departmentId').combobox({
            width: '100%',
            editable: false,
            url: '/Department/GetAllEntities',
            mode: 'remote',
            valueField: 'id',
            textField: 'name',
        });

        $('#month').datebox({
            width: '100%',
            formatter: databoxFormatMonth,
            parser: databoxParser
        });
        $('#month').datebox('setValue', new Date);


        $('#@(tabEntityList)').datagrid({
            method: 'POST',
            url: '/@(controllerName)/GetEntities',
            pagination: true,
            singleSelect: true,
            rownumbers: true,
            loadMsg: '正在加载中，请稍等... ',
            nowrap: false,//允许换行
            fitColumns: true,//宽度自适应
            onBeforeLoad: onBeforeLoad,
            onClickRow: onClickRow,
            onDblClickRow: onDblClickRow,
            onRowContextMenu: showMenu,

            toolbar: [
                { text: '修改', iconCls: 'icon-save', handler: onEditEntity },
                { text: '锁定', iconCls: 'icon-lock', handler: onLock },
                { text: '解锁', iconCls: 'icon-unlock', handler: onUnlock },
                { text: '导出所有', iconCls: 'icon-export', handler: onExportAll },
            ],
            columns: [[
                { field: 'id', title: 'id', width: 80, hidden: true },
                { field: 'employeeId', title: 'employeeId', width: 80, hidden: true },
                { field: 'month', title: '考核月', width: 80, },
                { field: 'employeeNumber', title: '工号', width: 80 },
                { field: 'employeeName', title: '姓名', width: 80 },
                { field: 'departmentName', title: '部门', width: 80 },
                {
                    field: 'shouldWorkTime', title: '应出勤', width: 80,
                    editor: { type: 'numberbox', options: { min: 0, precision: 2, required: true } }
                },
                {
                    field: 'actualWorkTime', title: '实出勤', width: 80,
                    editor: { type: 'numberbox', options: { min: 0, precision: 2, required: true } }
                },
                {
                    field: 'normalOvertime', title: '平日加班', width: 80,
                    editor: { type: 'numberbox', options: { min: 0, precision: 2 } }
                },
                {
                    field: 'holidayOvertime', title: '法定节假日加班', width: 80,
                    editor: { type: 'numberbox', options: { min: 0, precision: 2 } }
                },
                {
                    field: 'lateTime', title: '迟到', width: 80,
                    editor: { type: 'numberbox', options: { min: 0, precision: 2 } }
                },
                {
                    field: 'earlyTime', title: '早退', width: 80,
                    editor: { type: 'numberbox', options: { min: 0, precision: 2 } }
                },
                {
                    field: 'absenteeismTime', title: '旷工', width: 80,
                    editor: { type: 'numberbox', options: { min: 0, precision: 2 } }
                },
                {
                    field: 'personalLeaveTime', title: '事假', width: 80,
                    editor: { type: 'numberbox', options: { min: 0, precision: 2 } }
                },
                {
                    field: 'sickLeaveTime', title: '病假', width: 80,
                    editor: { type: 'numberbox', options: { min: 0, precision: 2 } }
                },
                {
                    field: 'annualVacationTime', title: '使用年假', width: 80,
                    editor: { type: 'numberbox', options: { min: 0, precision: 2 } }
                },
                {
                    field: 'performanceScore', title: '绩效得分', width: 80,
                    editor: { type: 'numberbox', options: { min: 0, precision: 2 } }
                },
                {
                    field: 'benefitScore', title: '效益得分', width: 80,
                    editor: { type: 'numberbox', options: { min: 0, precision: 2 } }
                },
                { field: 'inputDate', title: '录入时间', width: 80, formatter: formatDate },
            ]],
        });
        var p = $('#@(tabEntityList)').datagrid('getPager');
        $(p).pagination({
            pageSize: 10,
            pageList: [10, 20, 50, 100],
            beforePageText: '第',
            afterPageText: '页 共{pages}页',
            displayMsg: '当前显示{from} - {to}条记录 共{total}条记录'
        });

    }

    function showMenu(e, rowIndex, rowData) { //右键时触发事件
        //三个参数：e里面的内容很多，真心不明白，rowIndex就是当前点击时所在行的索引，rowData当前行的数据
        e.preventDefault(); //阻止浏览器捕获右键事件

        $(this).datagrid("selectRow", rowIndex); //根据索引选中该行

        $('#menu').menu('show', {
            //显示右键菜单
            left: e.pageX,//在鼠标点击处显示菜单
            top: e.pageY
        });
    }

    function getParamsJson() {
        var filterList = new Array;
        if ($('#departmentId').val().trim() != '') {
            var p = {
                "key": "departmentId",
                "action": "==",
                "value": $('#departmentId').val().trim()
            };
            filterList.push(p)
        }
        if ($('#employeeName').val().trim() != '') {
            var p = {
                "key": "employeeName",
                "action": "==",
                "value": $('#employeeName').val().trim()
            };
            filterList.push(p)
        }
        if ($('#month').val().trim() != '') {
            var p = {
                "key": "month",
                "action": "==",
                "value": $('#month').val().trim()
            };
            filterList.push(p)
        }

        return JSON.stringify(filterList);
    }


    function onBeforeLoad(param) {

        param.extendParams = getParamsJson();

        return true;
    }

    function filter() {
        var queryParams = $('#@(tabEntityList)').datagrid('options').queryParams;

        queryParams.extendParams = getParamsJson();

        $('#@(tabEntityList)').datagrid('options').queryParams = queryParams;
        $('#@(tabEntityList)').datagrid('load');
    }

    function onSaveSingle() {
        if ($('#month').val() == '') {
            showAlert('请选择考核月');
            return;
        }

        if (endEditing()) {
            var updatedRows = $('#@(tabEntityList)').datagrid('getSelected');
            if (updatedRows.length == 0) {
                showAlert('无修改数据');
                return;
            }


            var data = JSON.stringify(updatedRows);
            var param = {
                "month" : $('#month').val(),
                "assessmentData" : data
            }

            $.post('/@(controllerName)/SaveSingle', param, function (result) {
                if (result.status != 0) {
                    showAlert(result.content)
                }
                else {
                    showPrompt("保存成功")
                }

            }, "JSON").error(function (result) {
            });
        }
    }
    function onSaveAll() {
        if ($('#month').val() == '') {
            showAlert('请选择考核月');
            return;
        }

        if (endEditing()) {
            var updatedRows = $('#@(tabEntityList)').datagrid('getChanges', 'updated');
            if (updatedRows.length == 0) {
                showAlert('无修改数据');
                return;
            }

            var data = JSON.stringify(updatedRows);
            var param = {
                "month" : $('#month').val(),
                "assessmentData" : data
            }

            $.post('/@(controllerName)/SaveBatch', param, function (result) {
                if (result.status != 0) {
                    showAlert(result.content)
                }
                else {
                    showPrompt("保存成功")
                }

            }, "JSON").error(function (result) {
            });
        }
    }

    function onExportAll() {

        window.location.href = '/@(controllerName)/ExportAll?extendParams='+getParamsJson();

    }

    function clearRow() {
        var row = $('#@(tabEntityList)').datagrid('getSelected');
        if (null == row) {
            alert("未选择")
            return;
        }

    }

    var editIndex = undefined;//定义全局变量：当前编辑的行
    function onClickRow(index) {
        if (editIndex != index) {
            if (endEditing()) {
                //$('#@(tabEntityList)').datagrid('selectRow', index).datagrid('beginEdit', index);
                //editIndex = index;
                $('#@(tabEntityList)').datagrid('selectRow', editIndex);
            } else {

            }
        }
    }

    function onDblClickRow(index) {
        if (editIndex != index) {
            if (endEditing()) {
                $('#@(tabEntityList)').datagrid('selectRow', index).datagrid('beginEdit', index);
                editIndex = index;
            } else {
                $('#@(tabEntityList)').datagrid('selectRow', editIndex);
            }
        }
    }
    function endEditing() {
        if (editIndex == undefined) {
            return true
        }
        if ($('#@(tabEntityList)').datagrid('validateRow', editIndex)) {
            $('#@(tabEntityList)').datagrid('endEdit', editIndex);
            editIndex = undefined;
            return true;
        } else {
            return false;
        }
    }

    function onEditEntity() {
        var row = $('#@(tabEntityList)').datagrid('getSelected');
        if (null == row) {
            alert("未选择")
            return;
        }


        $.ajax({
            url: '/@(controllerName)/Edit',
            type: 'GET',
            data: 'id=' + row.id,
            async: false,
            success: function (data) {
                $('#@(divContent)').append(data);
            }
        });
        $.post('/@(controllerName)/SaveSingle', param, function (result) {
            if (result.status != 0) {
                showAlert(result.content)
            }
            else {
                showPrompt("保存成功")
            }

        }, "JSON").error(function (result) {
        });
    }
    function onLock() {
    }
    function onUnlock() {
    }

</script>


